* Controller
* Setup Room
* Discord Rich Presence
* Achievements
* Window Captions
* Dynamic Input UI
* Input Buffers
* Button Config Setting
* Audio Mixing Setting
* Fullscreen Setting
* Window Size Setting